# Virtual environment
.venv/

# Databases (too big + personal data)
data/transport.db
data/*.db
data/*.wal

# EXCEPTION: Allow Git to track hdb.duckdb
!data/hdb.duckdb

# ML models (recreatable from seed)
data/models/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Temp files
*.crdownload

# enviroment keys
.env